@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: Roboto;
    margin: 0px;
    padding-top: 21px; 
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

.top {
    padding-left: 110px;
    width: calc(100vw - 110px);
}

/* HEADER */
.header {
    display: flex;
    flex-direction: row;
    margin-top: 70px;   
    padding: 0px;
}

.globe{
    margin-right: 8px;
}

.clock{
    margin-left: 39px;
    margin-right: 10px; 
}

.calendar{
    margin-right: 13px;
    margin-left: 46px;
}

.course-info{
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    margin: 3px 0 0;
}

/* first paragraph */
.title-side {
    display: flex;
    flex-direction: row;
}

h1 {
    font-weight: 700;
    font-size: 80px;
    font-family: Roboto Slab;
    width: 60vw;
    margin-bottom: 0;
    line-height: 101.38%;
    margin-top: 43px;
}

.h1-bottom {
    font-weight: 400;
    font-size: 20px;
    width: 35vw;
    line-height: 150%;
    margin-top: 10px;
}

.side1 {
    width: 22vw;
}

.block {
    width: 45vw;
    max-width: 450px;
    height: 180.74px;
    background: #1E4681;
    border-radius: 5px;
    margin: 67px auto 0 auto;
    padding-top: 19.26px;
    padding-left: 26.03px;
    display: flex;
    flex-direction: column;
}

.block p {
    font-family: Roboto Slab;
    line-height: 130%;
    color: white;
}

.block-txt {
    font-weight: 400;
    font-size: 25px;
    margin: 0;
    margin-bottom: 26px;
}

.block-div-txt {
    width: 95%;
    height: 68%;
}

.block-bottom {
    font-weight: 400;
    font-size: 20px;
    text-align: right;
    margin: 10px 20px 0 0;
}

/* main paragraph */
h2 {
    font-weight: 700;
    font-size: 55px;
    font-family: Roboto Slab; 
    margin-top: 100px;
}

.course-top p {
    line-height: 150%;
    font-weight: 400;
    font-size: 24px;
    width: 46vw;
    margin-right: 50px;
    margin-bottom: 0;
}

.course-txt1{   
    margin: 0 0 45px 0;
}

.course-top {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
}

.side2 {
    margin: 50px 50px 0 50px;
}

.course-first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.course-bottom {
    display: flex;
    margin-top: 50px;
}

.course-side3 {
    margin-right: 80px;
}

.course-bottom p{
    width: 15vw;
    line-height: 130%;
    margin-right: 20px;
}

.course-texts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
}

.course-txt2 {
    font-weight: 400;
    font-size: 18px;    
    margin: 0;
}

.course-title{
    font-weight: 700;
    font-size: 25px;
    margin: 0px;
}

/* course format */
.format{    
    margin-top: 162px;
    height: 93px;
}

.headers {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #1E4681;
    font-size: 25px;
    font-weight: 700;    
    margin-top: 89px;
}

.headers p {
    width: 20vw;
}

.headers-title {    
    height: 39px;
    margin-bottom: 1px;
    margin-top: 0;
}

.headers-txt{
    color: black;
    margin-top: 0px;
    font-size: 18px;
    line-height: 130%;
    font-weight: 400;
    margin-bottom: 0;
}

/* list */
.list{
    font-weight: 400;
    font-size: 24px;
    width: 46vw;
    padding-left: 1px;
    line-height: 150%;
    margin-left: 17px;
}

/* 8 blocks */
.blocks {
    margin-top: 80px;
}

.eight-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
    column-gap: 37px;
    row-gap: 41px;
}

.b {
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgb(0 0 0 / 25%);
    border-radius: 30px;
    width: 370px;
    height: 328px;    
}

.block-img {
    width: 370px;
}

.blocks-title{
    font-weight: 700;
    font-size: 30px;
    margin-top: 11px;
    margin-left: 20px;
    margin-bottom: 32px;
}

.blocks-txt{
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 23px;
    margin-left: 19px;
    margin-top: 0;
}

.b8-title {
    margin-bottom: 0;
}

/* comment */
.comment-div {
    background: #EFEFEF;
    padding-top: 91px;
    padding-left: 122px;
    margin-top: 121px;
    width: calc(100vw - 122px);
    padding-bottom: 110px;
}

.h2-course {
    width: 69vw;
    margin: 0 0 34px 0;
}

.course-comment{
    font-weight: 400;
    font-size: 20px;
    width: 89%;  
    margin: 0 46px 10px 45px;
    line-height: 150%;
}

.avatar {
    margin-left: 26px;
}

.comment {
    width: 55vw;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 40px 10px 20px 0;
}

.avatar-txt {
    display: flex;
    flex-direction: row;
}

.kate-f {
    margin-left: 30px;
}

.ekaterina {
    font-weight: 700;
    font-size: 30px;
    font-family: Roboto Slab;
    margin: 50px 0 0 0px;
}

/* information */
.info {
    width: 100vw;
    height: 601px;
    background: #9DC9C8;
    padding-left: 122px;
    padding-top: 179px;
    width: calc(100vw - 122px);
}

.description-info{
    display: flex;
    flex-direction: row;
    margin: 0px;    
}

.h2-info {
    margin: 0px;
    width: 64vw;
}

.price-txt {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 25px;
    margin-top: 54px;    
    margin-bottom: 0px;
}

.description-info1{
    margin-right: 70px;
}

.price {
    font-weight: 400;
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 155px;
}

.description-info p {
    width: 21vw;
}

.info-title{    
    font-weight: 400;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 9px;
}

.info-txt{
    font-weight: 400;
    font-size: 18px;
    height: 70px;
    line-height: 101.38%;
}

/* last */
.last {
    background: #000000;
    color: white;    
    display: flex;
    flex-direction: column;
    padding-left: 122px;
    padding-top: 50px;
    width: calc(100vw - 122px);
}

.last-top{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;  
    margin-right: 94px; 
}

.contactimg1 {
    margin-right: 22px;
    height: 27px;
    margin-bottom: 22px;
}

.contactimg2 {
    margin-right: 22px;
    padding-top: 6px;
    height: 18px;
}

.contact {
    display: flex;
    flex-direction: row;    
    margin-bottom: 3px;
}

.contact-info{
    margin-top: 5px;
    height: 40px;
    font-size: 25px;
    margin-bottom: 0;
    color: white !important;
}

.contact-info2{
    margin-top: 0px;
    margin-bottom: 0;
    height: 40px;
    font-size: 25px;
}

.media {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.img2 {
    margin-bottom: 30px;
}

.social-insta{
    margin-right: 18px;
}

.social-f{
    margin-right: 21px;
}

.social-vk{
    margin-right: 25px;
}

.bottom {
    margin-top: 147px;
    margin-bottom: 23px;
    height: 40px;
    font-weight: 400;
    font-size: 18px;
}
 
/* #region Tablet */

@media screen and (min-width: 992px) and (max-width: 1253px) {
       
    .eight-blocks {
        justify-content: center;
    }

    .b {
        box-shadow: 1px 1px 15px rgb(0 0 0 / 25%);
        border-radius: 30px;
        width: 430px;
        height: 380px; 
    }

    .block-img {
        width: 430px;
    }

    .blocks-title{
        font-size: 35px;
    }

    .blocks-txt{
        font-size: 28px;
    }

}
/* #endregion */


/* #region Mobile */
@media screen and (min-width: 320px) and (max-width: 991px) {

    h1 {
        width: 90vw;
        font-size: 110px;
    }

    .h1-bottom {
        width: 57vw;
        margin-bottom: 40px;
        font-size: 23px;
    }

    .side1 {
        width: 30vw;
        float: right;
        margin-right: 60px;
    }

    .title-side {
        display: flex;
        flex-direction: column;        
    }    
    
    .block{
        margin: 40px 0 0 0;
        padding-bottom: 0px;
    }
    
    .block-txt{   
        margin-right: 12.59px;
    }

    .course-top {
        flex-direction: column;
        margin-top: 8.4px;
    }

    h2 {
        font-size: 60px;
    }

    .course-top p {
        width: 70vw;
        font-size: 30px;
        line-height: 150%;
        margin: 0px;
    }

    .course-txt1 {        
        margin-bottom: 16px;
    }

    .side2-ellipse {
        margin: 56px auto 30px auto;
    }

    .course-side3{
        display: none;
    }

    .course-bottom{
        margin-top: 45.7px;
    }
    
    .course-texts{
        display: flex;        
        flex-wrap: wrap;
        margin-top: 0px;
        margin-left: 0px;      
    }    

    .course-bottom p{
        width: 20vw;
    }

    .course-title{       
        margin: 0px; 
        font-size: 28px;               
    }

    .course-txt{
        margin: 0px;
        font-size: 20px; 
    }

    .format{
        margin-top: 100px;
    }        

    .headers {
        flex-direction: column;  
        margin-top: 17px;  
        font-size: 28px;
    }

    .headers p {
        width: 50vw;
    }

    .headers-txt{
        margin-bottom: 30px;
        font-size: 20px;
    }
    
    .headers-title {    
        margin-bottom: 10px;
    }

    .list {
        width: 60vw;
        font-size: 28px;
    }
    
    .h2-programma{
        margin-top: 85px;
        margin-bottom: 35px;
    }    

    .eight-blocks {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .b {
        width: 500px;
        height: 400px;
        border-radius: 40px;
        box-shadow: 3px 3px 20px rgb(0 0 0 / 25%);
    }

    .b8-title {
        margin-bottom: 0;
    }

    .block-img {
        width: 500px;
    }

    .blocks-title{
        font-size: 35px;
    }
    
    .blocks-txt{
        font-size: 28px;
        margin-bottom: 10px;
    }

    .course-comment {
        font-size: 25px;
    }

    .comment {
        width: 78vw;
    }

    .last-top {
        flex-direction: column;
    }

    .ekaterina {
        font-weight: 700;
        font-size: 30px;
        font-family: Roboto Slab;
        margin: 30px 0 10px 0px;
    }

    .facebook {
        width: 40px;
    }

    .description-info p {
        width: 30vw;
    }

    .info-title{    
        font-size: 30px;
    }
    
    .info-txt{
        font-size: 23px;
    }

    .contacts{
        margin-left: 0px;
        margin-top: 50px;
    }

    .contact p {
        font-size: 28px;
    }

    .media {
        margin: 50px 0 30px 0;
    }

    .media img {
        width: 5vw;
    }

    .bottom {
        font-size: 23px;
    }
}
/* #endregion */