@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: Roboto;
    margin: 0px;
    padding-top: 21px; 
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

p {
    vertical-align: top;
    text-align: left;
}

.main {
    display: flex;
    flex-direction: column; 
}

.top {
    padding-left: 121px;
    width: calc(100vw - 122px);
}

/* .main-bottom {
    width: calc(100vw - 122px);
} */

/* #region Div-1 */
.header {
    display: flex;
    flex-direction: row;
    margin-top: 70px;   
    padding: 0px;
}

.globe{
    margin-right: 8px;
}

.clock{
    margin-left: 39px;
    margin-right: 10px; 
}

.calendar{
    margin-right: 13px;
    margin-left: 46px;
}

.course-info{
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    margin: 3px 0 0;
}

.title-side {
    display: flex;
    flex-direction: row;
    margin-left: 1px;
}

h1 {
    font-weight: 700;
    font-size: 80px;
    font-family: Roboto Slab;
    width: 60vw;
    margin-bottom: 0;
    line-height: 101.38%;
    margin-top: 43px;
}

.za{
    font-weight: 400;
    font-size: 20px;
    width: 29vw;
    line-height: 150%;
    margin-top: 10px;
}


.side1 {
    width: 22vw;
}

.block {
    width: 45vw;
    height: 180.74px;
    background: #1E4681;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 19.26px;
    padding-left: 26.03px;
    margin-top: 67.62px;
    display: flex;
    flex-direction: column;
}

.zritel {
    font-weight: 400;
    font-size: 25px;
    font-family: Roboto Slab;
    color: white;
    line-height: 130%;
    margin: 0;
    margin-bottom: 26px;
}

.block-zr {
    width: 95%;
    height: 68%;
}

.andrey{
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-align: right;
    font-family: Roboto Slab;
    line-height: 130%;
    margin: 0;
    margin-right: 20px;
    margin-top: 10px;
}
/* #endregion */

/* #region Div-2-3-4 */
h2 {
    font-weight: 700;
    font-size: 55px;
    font-family: Roboto Slab; 
    margin-top: 100px;
    margin-bottom: 0;
}


.two-p {
    line-height: 150%;
    font-weight: 400;
    font-size: 24px;
    width: 46vw;
    margin-right: 50px;
}

.poroy{   
    margin: 0 0 45px 0;
}

.na {
    margin: 0;
}

.two-top {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
}

.side2 {
    margin-right: 50px;
    margin-top: 50px;
    margin-left: 30px;
}

.two-first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.two-bottom {
    display: flex;
    margin-top: 50px;
}

.two-div-img-2 {
    margin-right: 50px;
}

.two-bottom p{
    width: 15vw;
    line-height: 130%;
    margin-right: 20px;
}

.two-texts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
}

.sec-txt{
    font-weight: 400;
    font-size: 18px;    
    margin: 0;
}

.sec-title{
    font-weight: 700;
    font-size: 25px;
    margin: 0px;
}

/* -----------------------------Zaur's part----------------------------------- */
/* -----------------------------Zaur's part----------------------------------- */
/* -----------------------------Zaur's part----------------------------------- */

.format{    
    margin-top: 162px;
    height: 93px;
}

.headers {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #1E4681;
    font-size: 25px;
    font-weight: 700;    
    margin-top: 89px;
}

.headers p {
    width: 20vw;
}

.vebinar-title {    
    height: 39px;
    margin-bottom: 1px;
    margin-top: 0;
}

.vebinar-txt{
    color: black;
    margin-top: 0px;
    font-size: 18px;
    line-height: 130%;
    font-weight: 400;
    margin-bottom: 0;
}

.dosnav-title {    
    margin-bottom: 1px;
    margin-top: 0;
}

.dosnav-txt{
    color: black;
    margin-top: 0px;
    font-size: 18px;
    line-height: 130%;
    font-weight: 400;
    margin-bottom: 0;
}

.obw {
    margin-right: 20px;
}

.obw-title{    
    height: 39px;
    margin-bottom: 1px;
    margin-top: 0;
}

.obw-txt{
    color: black;
    margin-top: 0px;
    height: 39px;
    font-size: 18px;
    line-height: 130%;
    font-weight: 400;
    margin-bottom: 0;
}

.only-list{
    font-weight: 400;
    font-size: 24px;
    width: 46vw;
    padding-left: 1px;
    line-height: 150%;
    margin-left: 17px;
}

.h2-programma {
        margin-bottom: 80px;
    }

/* -----------------------------Zaur's part----------------------------------- */
/* -----------------------------Zaur's part----------------------------------- */
/* -----------------------------Zaur's part----------------------------------- */


/* #endregion */

/* #region Div-5 */

.five {
    margin-left: 40px;
}

.five-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.b {
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgb(0 0 0 / 25%);
    border-radius: 30px;
    width: 370px;
    height: 328px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.block-img {
    width: 370px;
}

.five-title{
    font-weight: 700;
    font-size: 30px;
    margin-top: 11px;
    margin-left: 20px;
    margin-bottom: 32px;
}

.five-txt{
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 23px;
    margin-left: 19px;
    margin-top: 0;
}

.b8-title {
    margin-bottom: 0;
}
/* #endregion */

/* #region Div-6 */
.six {
    background: #EFEFEF;
    padding-top: 91px;
    padding-left: 122px;
    margin-top: 121px;
    width: calc(100vw - 122px);
    padding-bottom: 110px;
}

.h2-kurs {
    /* height: 93px; */
    width: 69vw;
    margin: 0 0 34px 0;
}

.kurs{
    font-weight: 400;
    font-size: 20px;
    font-family: 'Roboto';
    width: 89%;  
    margin: 0 46px 10px 45px;
    line-height: 150%;
}

.avatar {
    margin-left: 26px;
}

.comment {
    width: 55vw;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-right: 10px;
    /* margin-bottom: 111px; */
}

.avatar-txt {
    display: flex;
    flex-direction: row;
}

.kate-f {
    margin-left: 30px;
}

.ekaterina {
    font-weight: 700;
    font-size: 30px;
    font-family: Roboto Slab;
    margin: 50px 0 0 0px;
}
/* #endregion */

/* #region Div-7 */
.seven {
    width: 100vw;
    height: 601px;
    background: #9DC9C8;
    padding-left: 122px;
    padding-top: 179px;
    width: calc(100vw - 122px);
}

.description-7{
    display: flex;
    flex-direction: row;
    margin: 0px;    
}

.h2-nachalo {
    margin: 0px;
    width: 64vw;
}

.stoimost {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 25px;
    margin-top: 54px;    
    margin-bottom: 0px;
}

.description-b1{
    margin-right: 70px;
}

.price {
    font-weight: 400;
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 155px;
}

.nachalo{
    font-weight: 700;
    font-size: 55px;
    font-family: Roboto Slab;
}

.description-7 p {
    width: 21vw;
}
.seven-small-title{    
    font-weight: 400;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 9px;
}

.seven-small-txt{
    font-weight: 400;
    font-size: 18px;
    height: 70px;
    line-height: 101.38%;
}
/* #endregion */

/* #region Div-8 */
.eight {
    background: #000000;
    color: white;    
    display: flex;
    flex-direction: column;
    padding-left: 122px;
    padding-top: 50px;
    width: calc(100vw - 122px);
}

.eight-top{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;  
    margin-right: 94px; 
}

.contactimg1 {
    margin-right: 22px;
    height: 27px;
    margin-bottom: 22px;
    /* width: 27px;     */
}

.contactimg2 {
    margin-right: 22px;
    padding-top: 6px;
    height: 18px;
    /* width: 27px;     */
}

.contact {
    display: flex;
    flex-direction: row;    
    margin-bottom: 3px;
}

.contact-info{
    margin-top: 5px;
    width: 230px;
    height: 40px;
    font-size: 25px;
    margin-bottom: 0;
}

.contact-info2{
    margin-top: 0px;
    margin-bottom: 0;
    width: 19vw;
    height: 40px;
    font-size: 25px;
}

.media {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.img2 {
    margin-bottom: 30px;
}

.social-insta{
    margin-right: 18px;
}

.social-f{
    margin-right: 21px;
}

.social-vk{
    margin-right: 25px;
}

.bottom {
    margin-top: 147px;
    margin-bottom: 23px;
    height: 40px;
    font-weight: 400;
    font-size: 18px;
}
/* #endregion */
 

/* #region Tablet */

@media screen and (min-width: 992px) and (max-width: 1279px) {
       
    .b8-title {
        margin-bottom: 0;
    }

}
/* #endregion */


/* #region Mobile */
@media screen and (min-width: 320px) and (max-width: 991px) {

    .title-side {
        display: flex;
        flex-direction: column;        
    }    
    
    .block{
        margin-left: 0px;
        margin-top: 38px;
        margin-bottom: 75px;
        padding-bottom: 0px;
    }
    
    .zritel{   
        margin-right: 12.59px;
    }


    .two-top {
        flex-direction: column;
        margin-top: 8.4px;
    }


    .poroy{        
        line-height: 150%;
        margin: 0px;
        margin-bottom: 16px;
    }

    .na{
        line-height: 150%;
        margin: 0px;
    }

    .side2{
        margin-left: 12px;
        margin-top: 56px;
    }


    .two-div-img-2{
        display: none;
    }


    .two-bottom{
        margin-top: 45.7px;
    }
    
    .two-texts{
        display: flex;        
        flex-wrap: wrap;
        margin-top: 0px;
        margin-left: 0px;      
    }    

    .sec-title{       
        margin: 0px;                
    }

    .sec-txt{
        margin: 0px;
        width: 86px;
    }

    .two-txt-1{
        margin-right: 33px;
        margin-bottom: 34px;
    }    

    .two-txt-3{
        margin-bottom: 0px;
    }

    .format{
        margin-top: 0px;
    }        

    .three{
        margin-top: 76px;
    }

    .headers {
        flex-direction: column;  
        margin-top: 17px;  
    }

    .headers p {
        width: 40vw;
    }

    .vebinar-txt{
        margin-bottom: 30px;
    }
    
    .dosnav-title {    
        margin-bottom: 10px;
    }
    
    .dosnav-txt{
        margin-bottom: 30px;
    }

    .chto {
        margin-top: 0px;
        margin-bottom: 9.66px;
    }
    
    .four {
        margin-top: 73px;
    }

    .only-list {
        width: 60vw;
    }
    
    .h2-programma{
        margin-top: 85px;
        margin-bottom: 35px;
    }    

    .five-blocks {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .eight-top{
        flex-direction: column;
    }

    .contacts{
        margin-left: 0px;
        margin-top: 50px;
    }
}
/* #endregion */