@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: Roboto;
    margin: 0px;
    padding-top: 21px;  
}

p {
    vertical-align: top;
    text-align: left;
}

.main {
    display: flex;
    flex-direction: column; 
}

.top {
    padding-left: 121px;
}

/* #region Div-1 */
.header {
    display: flex;
    flex-direction: row;
    margin-top: 96px;   
    padding: 0px;
}

.globe{
    margin-right: 8px;
}

.clock{
    margin-left: 39px;
    margin-right: 10px; 
}

.calendar{
    margin-right: 13px;
    margin-left: 46px;
}

.course-info{
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    margin: 3px 0 0;
}

.title-side {
    display: flex;
    flex-direction: row;
    margin-left: 1px;
}

h1 {
    font-weight: 700;
    font-size: 80px;
    font-family: Roboto Slab;
    width: 628px;
    height: 190px;
    margin-bottom: 0;
    line-height: 101.38%;
    margin-top: 43px;
}

.za{
    font-weight: 400;
    font-size: 20px;
    width: 414px;
    height: 62px;
    line-height: 150%;
    margin-top: -11px;
}

.side-ellipse {
    position: relative;
}

.side1 {
    margin-left: 140px;
    position: absolute;
}

.ellipse1 {
    margin-left: 171px;
    margin-top: 335px;
}

.block {
    width: 457.6px;
    height: 180.74px;
    background: #1E4681;
    border-radius: 5px;
    margin-left: 288.39px;
    padding-top: 19.26px;
    padding-left: 26.03px;
    margin-top: 67.62px;
    margin-bottom: 173.36px;
}

.zritel{
    font-weight: 400;
    font-size: 25px;
    font-family: Roboto Slab;
    color: white;
    margin: 0 27.02px 0 0;
    width: 430.59px;
    height: 113px;
    line-height: 130%;
}

.andrey{
    font-weight: 400;
    font-size: 20px;
    color: white;
    width: 280.5px;
    height: 45.64px;
    margin: 22.12px 0 0 158.58px;
    text-align: right;
    font-family: Roboto Slab;
    line-height: 130%;
}
/* #endregion */

/* #region Div-2-3-4 */
h2 {
    font-weight: 700;
    font-size: 55px;
    font-family: Roboto Slab; 
    margin: 0;
}

.okurse{ 
    width: 365px;
    height: 93px;
}

.two-p {
    line-height: 150%;
    font-weight: 400;
    font-size: 24px;
    width: 662px;
}

.poroy{   
    margin: 0 0 45px 0;
}

.na {
    margin: 0;
}

.two-top {
    display: flex;
    margin-top: 18px;
}

.two-txt {
    height: 374px;
    box-sizing: content-box;
}

.side2-ellipse {
    position: relative;
}

.side2 {
    margin-left: 190px;
    position: absolute;
    top: 24px;
}

.ellipse2 {
    margin-left: 164px;
    margin-top: 309px;
}

.two-bottom {
    display: flex;
    flex-direction: row;
    margin-top: 94px;
}

.two-div-img-2 {
    position: relative;
}

.side3 {
    position: absolute;
}

.ellipse3 {
    margin-top: 187px;
    margin-left: 33px;
}

.two-bottom p{
    height: 39px;
    width: 150px;
    line-height: 130%;
}

.two-texts{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    margin-left: 132px;
}

.sec-txt{
    font-weight: 400;
    font-size: 18px;    
    margin: 0;
    line-height: 23px;
}

.sec-title{
    font-weight: 700;
    font-size: 25px;
    margin: 0px;
    line-height: 32px;
}

.two-txt-1{
    margin-right: 95px;
}
/* -----------------------------Zaur's part----------------------------------- */
/* -----------------------------Zaur's part----------------------------------- */
/* -----------------------------Zaur's part----------------------------------- */

.format{    
    margin-top: 162px;
    height: 93px;
    width: 667px;    
}

#headers {
    width: 100%;
    display: flex;
    color: #1E4681;
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 700;    
    margin-top: 89px;
}

#vebinar{
    margin-right: 122px;
}

#dosnav{
    margin-right: 113px;
}

.vebinar-title{    
    width: 150px;
    height: 39px;
    margin-bottom: 1px;
    margin-top: 0;
}

.vebinar-txt{
    color: black;
    margin-top: 0px;
    width: 223px;
    height: 39px;
    font-size: 18px;
    line-height: 130%;
    font-weight: 400;
    margin-bottom: 0;
}

.dosnav-title{    
    width: 214px;
    height: 39px;
    margin-bottom: 1px;
    margin-top: 0;
}

.dosnav-txt{
    color: black;
    margin-top: 0px;
    width: 271px;
    height: 109px;
    font-size: 18px;
    line-height: 130%;
    font-weight: 400;
    margin-bottom: 0;
}

.obw-title{    
    width: 150px;
    height: 39px;
    margin-bottom: 1px;
    margin-top: 0;
}

.obw-txt{
    color: black;
    margin-top: 0px;
    width: 245px;
    height: 39px;
    font-size: 18px;
    line-height: 130%;
    font-weight: 400;
    margin-bottom: 0;
}

.chto {
    height: 93px;
    width: 667px;
    margin-top: 179px;
    margin-bottom: 21px;
}

.only-list{
    font-weight: 400;
    font-size: 24px;
    width: 662px;
    height: 374px;
    padding-left: 1px;
    line-height: 150%;
    margin-left: 17px;
}

/* ul li:nth-child(3), li:nth-child(4), li:nth-child(5), li:nth-child(6) {
    list-style: circle url("images/circle.svg");
    margin-left: 15px;
    padding-left: 1px;
}

ul li:nth-child(1), li:nth-child(2), li:nth-child(7)  {
    background: url("images/circle.svg") no-repeat left center;
    padding-left: 16px;
} */

.h2-programma {
    height: 93px;
    width: 905px;
    margin-top: 248px;
    margin-bottom: 95px;
}

/* -----------------------------Zaur's part----------------------------------- */
/* -----------------------------Zaur's part----------------------------------- */
/* -----------------------------Zaur's part----------------------------------- */


/* #endregion */

/* #region Div-5 */
.five {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 89%;
    height: 1070px;
    margin-left: 84px;
}

.bbb {
    display: flex;
    justify-content: space-between;
}

.b78 {
    display: flex;
}

.b {
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgb(0 0 0 / 25%);
    border-radius: 30px;
    width: 399px;
    height: 328px;
}

.five-title{
    font-weight: 700;
    font-size: 30px;
    width: 365px;
    margin-top: 11px;
    margin-left: 20px;
    margin-bottom: 32px;
}

.five-txt{
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 23px;
    margin-left: 19px;
    margin-top: 0;
}

.b8-title {
    margin-bottom: 0;
}
/* #endregion */

/* #region Div-6 */
.six {
    background: #EFEFEF;
    height: 689px;
    padding-top: 91px;
    padding-left: 122px;
    width: calc(100% - 122px);
    margin-top: 121px;
}

.h2-kurs {
    width: 987px;
    height: 93px;
    margin: 0 0 34px 0;
}

.kurs{
    font-weight: 400;
    font-size: 20px;
    font-family: 'Roboto';
    width: 700px;
    height: 203px;   
    margin: 0 46px 10px 45px;
    line-height: 150%;
}

.avatar {
    margin-left: 26px;
}

.comment {
    width: 791px;
    height: 411px;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding-top: 40px;
    margin-bottom: 111px;
}

.avatar-txt {
    display: flex;
    flex-direction: row;
}

.kate-f {
    margin-left: 30px;
}

.ekaterina {
    font-weight: 700;
    font-size: 30px;
    font-family: Roboto Slab;
    width: 353px;
    height: 59px;
    margin: 50px 192px 0 0px;
}
/* #endregion */

/* #region Div-7 */
.seven {
    width: calc(100%-122px);
    height: 601px;
    background: #9DC9C8;
    padding-left: 122px;
    padding-top: 179px;
}

.description-7{
    display: flex;
    flex-direction: row;
    margin: 0px;    
}

.h2-nachalo {
    margin: 0px;
}

.stoimost {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 25px;
    margin-top: 54px;    
    margin-bottom: 0px;
}

.description-b2{
    margin-right: 660px;
}

.description-b1{
    margin-right: 70px;
}

.price {
    font-weight: 400;
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 155px;
}

.nachalo{
    font-weight: 700;
    font-size: 55px;
    font-family: Roboto Slab;
}

.seven-small-title{    
    font-weight: 400;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 9px;
}

.seven-small-txt{
    font-weight: 400;
    font-size: 18px;
    width: 294px;
    height: 70px;
    line-height: 101.38%;
}
/* #endregion */

/* #region Div-8 */
.eight {
    height: 390px;
    background: #000000;
    color: white;    
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 122px;
    padding-top: 50px;
    box-sizing: border-box;
}

.eight-top{
    display: flex;
    flex-direction: row;    
}

.contacts {    
    margin-left: 656px;
}

.contactimg1 {
    margin-right: 22px;
    height: 27px;
    margin-bottom: 22px;
    width: 27px;    
}

.contactimg2 {
    margin-right: 22px;
    padding-top: 6px;
    height: 18px;
    width: 27px;    
}

.contact {
    display: flex;
    flex-direction: row;    
    margin-bottom: 3px;
}

.contact-info{
    margin-top: 5px;
    width: 230px;
    height: 40px;
    font-size: 25px;
    margin-bottom: 0;
}

.contact-info2{
    margin-top: 0px;
    margin-bottom: 0;
    width: 269px;
    height: 40px;
    font-size: 25px;
}

.media {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.img2 {
    margin-bottom: 30px;
}

.social-insta{
    margin-right: 18px;
}

.social-f{
    margin-right: 21px;
}

.social-vk{
    margin-right: 25px;
}

.bottom {
    margin-top: 147px;
    margin-bottom: 23px;
    width: 230px;
    height: 40px;
    font-weight: 400;
    font-size: 18px;
}
/* #endregion */
 

/* #region Tablet */

@media screen and (min-width: 992px) and (max-width: 1279px) {


    .img1 {

        height: 38.2px;
        width: 64.8px;
        margin-top: 22px;
        border-radius: 0px;
    }

    body {
        font-family: Roboto;
        margin: 0px;
        padding-top: 22px;  
    }
    
    .main {
        display: flex;
        flex-direction: column;    
    }
    
    .top {
        padding-left: 70.8px;
    }
    
    /* #region Div-1 */
    .header {
        display: flex;
        flex-direction: row;
        padding: 0px;
    }
    
    .globe{
        /* margin-right: 8px; */
        height: 12.1px;
        width: 12.7px;
        margin-top: 57.92px;

    }
    
    .clock{
        height: 12.7px;
        width: 12.7px;
        margin-top: 57.92px;
    }
    
    .calendar{
        height: 12.7px;
        width: 11.5px;
        margin-top: 57.92px;

    }
    
    .course-info{
        font-size: 12px;
        font-weight: 400;
        padding: 0;
        margin: 3px 0 0;
        height: 18.5px;
        width: 75.2px;
        margin-left: 4.45px;
        margin-top: 59px;
        margin-right: 19px;

    }
    
    .title-side {
        display: flex;
        flex-direction: row;
        margin-left: 1px;
    }
    
    h1 {
        height: 110px;
        width: 363.7px;
        border-radius: nullpx;

        font-weight: 700;
        font-size: 46px;
        font-family: Roboto Slab;
        width: 628px;
        height: 190px;
        margin-bottom: 0;
        line-height: 101.38%;
        margin-top: 16px;
    }
    
    .za{
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        margin-top: -11px;
        height: 36px;
        width: 264px;
        margin-top: -80px;
        border-radius: nullpx;

    }
    
    .side-ellipse {
        position: relative;
    }
    
    .side1 {
        position: absolute;
        height: 206.1px;
        width: 176px;
        margin-left: -180px;
        margin-top: 10px;
        border-radius: 0px;

    }
    
    .ellipse1 {
        height: 23.7px;
        width: 158.6px;
        margin-left: -160px;
        margin-top: 204px;
        border-radius: 0px;
    
    }
    
    .block {
        height: 115.8px;
        width: 280.1px;
        margin-left: 160px;
        margin-top: 40px;
        border-radius: 2.8px;
        background: #1E4681;
        
     
        /* padding-top: 19.26px;
        padding-left: 26.03px;
        margin-bottom: 173.36px; */
    }
    
    .zritel{
        height: 65.4px;
        width: 249.3px;
        margin-left: 252.1px;
        margin-top: 407px;
        border-radius: nullpx;
        font-weight: 400;
        font-size: 14px;
        font-family: Roboto Slab;
        color: white;
        line-height: 18.2px;
        margin: 0 27.02px 0 0;
        padding-top: 11.15px;
        padding-left: 10.08px;
        padding-right: 15.65px;
        padding-bottom: 39.24px;
    }
    
    .andrey{
        height: 26.4px;
        width: 162.4px;
        margin-top: -26px;
        margin-left: 108px;
        margin-right: 9.42px;
        border-radius: nullpx;
        font-weight: 400;
        font-size: 12px;
        color: rgb(255, 255, 255);
        text-align: right;
        font-family: Roboto;
    }
    /* #endregion */
    
    /* #region Div-2-3-4 */
    h2 {
        font-weight: 700;
        font-size: 55px;
        font-family: Roboto Slab; 
        margin: 0;
    }
    
    .okurse{ 
        height: 53.8px;
        width: 211.3px;
        margin-top: 100.41px;
        border-radius: nullpx;
        font-size: 32px;

    }
    
    .two-p {
        line-height: 150%;
        font-weight: 400;
        font-size: 14px;
        width: 381px;
        margin-left: 70.08px;
    }
    
    .poroy{   
        margin: 0 0 53px 0;
        margin-bottom: 20px;
    }
    
    .na {
        margin: 0;
    }
    
    .two-top {
        display: flex;
        margin-top: 18px;
    }
    
    .two-txt {
        height: 374px;
        box-sizing: content-box;
    }
    
    .side2-ellipse {
        position: relative;
    }
    
    .side2 {
        margin-left: 190px;
        position: absolute;
        top: 24px;
        height: 182.4375px;
        width: 181.8px;
        margin-left: 115.5px;
        margin-top: 20px;

    }
    
    .ellipse2 {
        margin-top: 210px;
        margin-left: 100.5px;
        height: 34.1px;
        width: 211.9px;
    }
    
    .two-bottom {
        margin-top: 54.44px;
    }
    
    
    .side3 {
        height: 117.5px;
        width: 134.3px;


    }
    
    .ellipse3 {
        height: 18.5px;
        width: 109.4px;
        margin-left: 19.11px;
        margin-top: 108.3px;
    }
    
    .two-bottom p{
        height: 22.59px;
        width: 186.88px;
    }
    
    .two-texts{
        display: flex;
        flex-direction: row;
        margin-left: 76.45px;
    }


    .sec-txt{
        font-weight: 400;
        font-size: 11px;    
        margin: 0;
        line-height: 23px;
    }
    
    .sec-title{
        font-weight: 700;
        font-size: 15px;
        margin: 0px;
        line-height: 32px;
    }
    
    .two-txt-1{
        margin-right: 95px;
    }
    /* -----------------------------Zaur's part----------------------------------- */
    /* -----------------------------Zaur's part----------------------------------- */
    /* -----------------------------Zaur's part----------------------------------- */
    
    .format{    
        margin-top: 103.09px;
        width: 386.3px;
        height: 53.86px;   
        font-size: 32px;
    }
    
    #headers {
        width: 100%;
        color: #1E4681;
        font-size: 15px;
        font-weight: 700;    
        margin-top: 89px;
    }
    
    #vebinar {
        width: 86.88px;
        height: 22.59px;
        margin-top: 0px;
    }
    
    #dosnav {
        width: 123.94px;
        height: 22.59px;
        margin-left: 112.94px;
    }
    
    #obw {
        width: 86.88px;
        height: 22.59px;
        margin-left: 98.46px;
    }
    
    .vebinars {
        display: flex;
        font-size: 11px;
        font-weight: 400;
        margin-top: 10px;
        color: #000000;
        width: 153px;
        height: 22px;
    }
    
    .dosnavs {
        font-size: 11px;
        font-weight: 400;
        width: 172px;
        height: 63px;
        margin-top: 10px;
        color: #000000;
    }
    
    .obws {
        width: 141.9px;
        height: 22.59px;
        font-size: 11px;
        font-weight: 400;
        margin-top: 10px;
        color: #000000;
    }
    
    .chto {
        width: 386.3px;
        height: 53.86px;
        margin-top: 103.55px;
        margin-bottom: 12.16px;
        font-size: 32px;
    }
    
    .only-list{
        font-weight: 400;
        font-size: 14px;
        width: 383.41px;
        height: 216.61px;
        padding-left: 1px;
        line-height: 21px;
    }
    
    
    
    .h2-programma {
        width: 524.15px;
        height: 53.86px;
        margin-top: 143.66px;
        font-size: 32px;
    }
    
    
    
    
    /* -----------------------------Zaur's part----------------------------------- */
    /* -----------------------------Zaur's part----------------------------------- */
    /* -----------------------------Zaur's part----------------------------------- */
    
    
    /* #endregion */
    
    /* #region Div-5 */
    .five {
       
        height: 619.71px;
        margin-left: 48.65px;
    }
    
    .b {
        margin-right: 37px;
        border-radius: 17.375px;
        width: 231.09px;
        height: 189.97px;
        box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);

    }
    
    .five-title{
        font-size: 17px;
        width: 211.4px;
        height: 22.59px;
        margin-top: 6.37px;
        margin-left: 11.58px;
        margin-bottom: 18.53px;
    }
    
    .block-img {

        width: 231.09px;
        height: 92.67px;

    }

    .five-txt{
        width: 211.4px;
        height: 36.49px;
        font-size: 14px;
        margin-bottom: 13.32px;
        margin-left: 11px;
    }
    
    .b8-title {
        margin-bottom: 0;
    }
    /* #endregion */
    
    /* #region Div-6 */
    .six {
        background: #EFEFEF;
        width: 834px;
        height: 451.75px;
        padding-top: 91px;
        padding-left: 122px;
        width: calc(100% - 70.8px);
    }
    
    .h2-kurs {
        width: 571.64px;
        height: 53.86px;
        margin: 0 0 19.69px 0;
        font-size: 32px;
    }
    
    .kurs{
        font-weight: 400;
        font-size: 12px;
        font-family: 'Roboto';
        width: 405.42px;
        height: 117.57px;  
        margin: 0 26.64px 5.79px 26.06px;
    }
    
    .avatar {
        margin-left: 15.06px;
        width: 110.04px;
        height: 97.88px;
    }
    
    .comment {
        width: 458.12px;
        height: 261.2px;
        background: #FFFFFF;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        padding-top: 40px;
        margin-bottom: 111px;
    }
    
    .avatar-txt {
        display: flex;
        flex-direction: row;
    }

    .facebook {
        width: 18.53px;
        height: 17.95px;
    }
    
    .kate-f {
        margin-left: 17.38px;
    }
    
    .ekaterina {
        font-weight: 700;
        font-size: 17px;
        font-family: Roboto Slab;
        width: 204.45px;
        height: 34.17px;
        margin: 28.96px 111.2px 0 0px;
    }
    /* #endregion */
    
    /* #region Div-7 */
    .seven {
        width: calc(100% - 70.66px);
        height: 451.75px;
        background: #9DC9C8;
        padding-left: 70.66px;
        padding-top: 103.67px;
    }
    
    .description-7{
        display: flex;
        flex-direction: row;
        margin: 0px;    
    }
    
    .h2-nachalo {
        margin: 0px;
        width: 525.88px;
        height: 38.23px;
        font-size: 32px;
    }
    
    .stoimost {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        margin-top: 54px;    
        margin-bottom: 0px;
        width: 98.46px;
        height: 18.53px;
    }
    
    .description-b2{
        margin-right: 660px;
    }
    
    .description-b1{
        margin-right: 70px;
    }
    
    .price {
        font-weight: 400;
        font-size: 42px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 278.58px;
        height: 104.83px;
    }
    
    .nachalo{
        font-weight: 700;
        font-size: 55px;
        font-family: Roboto Slab;
    }
    
    .seven-small-title{    
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 5.21px;
    }
    
    .seven-small-txt{
        font-weight: 400;
        font-size: 10px;
        width: 170.28px;
        height: 40.54px;
    }
    /* #endregion */
    
    /* #region Div-8 */
    .eight {
        height: 225.88px;
        width: 100%;
        background: #000000;
        color: white;    
        display: flex;
        flex-direction: row;
    }
    
    .sinx {
        margin-left: 70.66px;
        margin-top: 28.96px;
    }
    
    .contacts {
        margin-left: 593.65px;
        margin-top: 54px;
    }
    
    .contactimg1 {
        margin-right: 12.74px;
        margin-bottom: 14.48px;
        width: 15.64px;
        height: 15.64px;
        
    }
    
    
    .contactimg2 {
        margin-right: 12.74px;
        width: 15.64px;
        height: 10.43px;   
    }
    
    .contact {
        display: flex;
        flex-direction: row;    
        margin-bottom: 3px;
    }
    
    .contact-info{
        margin-top: 1px;
        margin-right: 185px;
        width: 230px;
        font-size: 14px;
    }
    
    .contact-info2{
        margin-top: 3px;
        width: 269px;
        font-size: 14px;
    }
    
    .media {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
    .img2 {
        margin-bottom: 17.38px;
        width: 66.6px;
        height: 39.38px;
    }
    
    .social-insta{
        margin-right: 18px;
        width: 19.11px;
        height: 19.11px;
    }
    
    .social-f{
        margin-right: 21px;
        width: 18.53px;
        height: 18.53px;

    }
    
    .social-vk{
        margin-right: 25px;
        width: 20.27px;
        height: 20.27px;
    }
    
    .bottom {
        margin-top: 84.14px;
        margin-bottom: 13.32px;
        font-weight: 400;
        font-size: 10px;
        width: 133.21px;
        height: 23.17px;
    }

    .vp {
        width: 19.69px;
        height: 19.69px;
    }
}
/* #endregion */





/* #region Mobile */
@media screen and (min-width: 320px) and (max-width: 991px) {
    body {
        font-family: Roboto;
        margin: 0px;
        padding-top: 36px;  
    }
    
    p{
        text-align: left;
        vertical-align: top;
    }

    .main {
        display: flex;
        flex-direction: column; 
        width: 357px;   
    }
    
    .top {
        padding-left: 35px;
    }
    /* #region Div-1 */
    .header {
        display: flex;
        flex-direction: row;
        margin-top: 45.2px;   
        padding: 0px;
    }

    .img1{
        height: 30.75px;
        width: 52.19px;
    }

    .globe{
        margin-right: 3.7px;
        height: 9px;
        width: 10px;
    }
     
    .clock{
        margin-left: 11.65px;
        margin-right: 4.6px; 
        height: 10.25px;
        width: 10.25px;
    }
    
    .calendar{
        margin-left: 13px;
        margin-right: 6px;  
        width: 9.32px;
        height: 10.25px;              
    }

    .course-info{
        font-size: 10px;
        font-weight: 400;
        padding: 0;
        margin-top: 0px;
        line-height: 11px;
    }

    .title-side {
        display: flex;
        flex-direction: column;        
    }    

    .kak {
        font-weight: 700;
        font-size: 37px;
        font-family: Roboto Slab;
        width: 292.63px;
        height: 88.53px;        
        line-height: 101.38%;
        margin-top: 8px;
    }

    .za{
        font-weight: 400;
        font-size: 10px;
        width: 212px;
        height: 29px;
        line-height: 15px;        
        margin-top: 2.2px;
        margin-bottom: 0px;
        padding: 0px;
    }

    .side-ellipse {
        position: relative;
        padding: 0px;        
        margin-top: 0px ;
        margin-left: 166px;
    }

    .side1 {        
        width: 141.68px;
        height: 165.1px;
        position: absolute;
        margin-left: 0px;
    }

    .ellipse1 {     
        margin-top: 156px;
        width: 127.68px;
        height: 19px;
        margin-left: 14px;
    }
    
    .block{
        height: 93px;
        width: 225px;
        margin-left: 0px;
        margin-top: 38px;
        padding: 0px;        
        padding-top: 9px;
        padding-left: 12.13px;
        margin-bottom: 75px;
        padding-bottom: 0px;
    }
    
    .zritel{
        font-size: 11px;
        line-height: 14px;        
        width: 200.64px;
        height: 52px;        
        margin-right: 12.59px;
        font-family: Roboto Slab;
    }
    
    .andrey{
        font-weight: 400;
        font-size: 10px;    
        color: white;
        width: 130.7px;
        height: 21px;
        margin: 14px 8px 0 87px;
        text-align: right;
        vertical-align: top;
        font-family: Roboto;
        line-height: 13px;                
    }
    /* #endregion */
    
    /* #region Div-2 */
    .okurse{
        width: 170.08px;
        height: 43.34px;
        font-weight: 700;
        font-size: 26px;
        line-height: 101.38%;
    }

    .two-txt{        
        height: 174.27px;
        font-size: 12px;
        line-height: 150%;
    }

    .two-top {
        display: flex;
        flex-direction: column;
        margin-top: 8.4px;
    }

    .two-p{
        width: 308.47px;   
    }

    .poroy{        
        font-size: 12px;
        line-height: 150%;
        margin: 0px;
        margin-bottom: 16px;
    }

    .na{
        font-size: 12px;
        line-height: 150%;
        margin: 0px;
    }

    .side2-ellipse{                        
        margin-top: 56px;
        margin-left: 66px;
        position: relative;        
    }

    .side2{
        width: 146.32px;
        height: 146.78px;
        margin-left: 12px;
        margin-top: -25px;
        position: absolute;           
    }

    .ellipse2{
        width: 170.55px;
        height: 27.49px;
        margin-top: 132.8px;
        margin-left: 0px;             
    }

    .two-div-img-2{
        display: none;
    }
    
    .two-bottom p{
        width: 86px;
        height: 18.17px;
    }

    .two-bottom{
        margin-top: 45.7px;
    }
    
    .two-texts{
        display: flex;        
        flex-wrap: wrap;
        margin-top: 0px;
        margin-left: 0px;
        width: 308px;        
    }    

    .sec-title{
        font-weight: 700;
        font-size: 12px;
        line-height: 130%;        
        margin: 0px;                
    }

    .sec-txt{
        font-size: 10px;
        line-height: 130%;
        margin: 0px;
        width: 86px;
        height: 18px;
    }

    .two-txt-1{
        margin-right: 33px;
        margin-bottom: 34px;
    }    

    .two-txt-3{
        margin-bottom: 0px;
    }
    /* #endregion */
    
    /* #region Div-3-4 */
    .format{
        font-weight: 700;
        font-size: 26px;
        line-height: 101.38%;
        width: 310.8px;
        height: 43.34px;
        margin-top: 0px;
    }        

    .three{
        margin-top: 76px;
    }

    #headers {
        width: 100%;
        display: flex;
        flex-direction: column;
        color: #1E4681;
        font-family: 'Roboto';
        font-size: 12px;
        font-weight: 700;    
        margin-top: 17px;        
        line-height: 130%;
    }

    #vebinar{
        margin: 0px;
        margin-bottom: 10px;
    }

    #dosnav{
        margin: 0px;
        margin-bottom: 19px;
    }

    .vebinar-title{
        width: 69.9px;
        height: 18.17px;
        margin-top: 0px;
    }

    .vebinar-txt{
        font-size: 10px;        
        width: 180px;
        height: 48px;
    }

    .dosnav-title{
        margin-top: 0px;
        width: 99.72px;
        height: 18.17px;        
    }

    .dosnav-txt{
        font-size: 10px;
        width: 165px;
        height: 51px;
        margin: 0px;
    }

    .obw-title{
        width: 69.9px;
        height: 18.17px;
        margin: 0px;
    }

    .obw-txt{
        width: 159px;
        height: 31px;
        margin-bottom: 0px;
        font-size: 10px;
    }
    
    .chto{
        width: 310.8px;
        height: 43.34px;
        margin-top: 0px;
        font-size: 26px;
        line-height: 101.38%;
        text-align: left;
        vertical-align: top;
        margin-bottom: 9.66px;
    }
    
    .four{
        margin-top: 73px;
    }

    .only-list{
        margin: 0px;
        font-size: 12px;
        line-height: 150%;
        width: 299px;
        height: 174px;
        padding-left: 0px;
        margin-left: 9px;
    }
    
    .h2-programma{
        width: 421.7px;
        height: 43.34px;
        font-size: 26px;
        line-height: 101.38%;
        margin-top: 85px;
        margin-bottom: 35px;
    }    
    /* #endregion */

    /* #region Div-5 */
    .five{
        height: 1391.84px;        
        align-items: center;
        margin: 0px;
        width: 375px;
        box-sizing: border-box;
        padding-left: 35px;
        margin-bottom: 47px;
    }

    .b{
        width: 185.92px;
        height: 152.84px;
        margin-bottom: 24.16px;
        border-radius: 15px;
    }
    
    .bbb{
        flex-direction: column;        
        justify-content: center;
        margin: 0px;
    }

    .five-title{
        font-size: 14px;
        line-height: 130%;
        margin-top: 0px;
        margin-bottom: 14.91px;
        width: 170px;
        margin-left: 9px;
    }

    .five-txt{        
        font-size: 12px;
        line-height: 130%;
        margin-bottom: 0px;
        width: 170.08px;
        margin-left: 9px;
        height: 29.36px;
    }

    .block-img{
        width: 185.92px;
        height: 74.56px;        
    }

    .b78{
        flex-direction: column;
    }

    .b8-title{
        margin-bottom: 0px;
        margin-top: 0px;
    }
    /* #endregion */
   
    /* #region Div-6 */
    .six{
        margin-top: 0px;                
        padding-left: 36px;
        padding-top: 42px;
        padding-right: 32px;
        width: 376px;
        height: 423px;
        box-sizing: border-box;
    }

    .h2-kurs{
        width: 257px;
        height: 69px;            
        font-size: 26px;
        margin-left: 0px;
        line-height: 101.38%;     
        margin-bottom: 11px           
    }

    .comment{
        width: 308px;
        height: 248px;
        padding: 18px 21px 0px 21px;
        border-radius: 15px;       
        margin-right: 0px;
        margin-bottom: 0px;
        box-sizing: border-box;
    }

    .kurs{
        width: 266px;
        height: 111.01px;
        font-size: 10px;
        line-height: 150%;
        margin: 0px;
    }

    .avatar{
        width: 80px;
        height: 84px;
        margin: 0px;
        margin-top: 21px;
    }
    
    .kate-f{
        margin-left: 13.63px;
        margin-top: 39px;
    }

    .ekaterina{
        width: 164.49px;
        height: 32.73px;
        font-size: 14px;
        margin: 0px;
        line-height: 101.38%;
    }

    .facebook{
        width: 14.91px;
        height: 17.2px;
    }

    /* #endregion */

    /* #region Div-7 */
    .seven{
        width: 376px;
        height: 363px;
        box-sizing: border-box;  
        padding-left: 34px;    
        padding-top: 62px;
        padding-right: 32px;
    }

    .h2-nachalo{
        width: 224px;
        height: 63px;            
        font-size: 26px;
        line-height: 101.38%;
    }

    .stoimost{
        width: 79.22px;
        height: 14.91px;
        font-size: 12px;
        line-height: 101.38%;
        margin-top: 22.23px;
    }

    .price{
        width: 224.13px;
        height: 84.34px;
        font-size: 37px;
        line-height: 101.38%;
    }

    .seven-small-title{
        width: 138px;
        height: 14.9px;
        font-size: 12px;
        line-height: 101.38%;
        margin-bottom: 5px;
    }

    .seven-small-txt{
        width: 140px;
        margin-top: 0px;
        height: 47px;
        font-weight: 400;
        font-size: 10px;
        line-height: 101.38%;        
    }

    .description-b1{
        margin-right: 31px;
    }

    .description-b2{
        margin-right: 0px;
    }

    /* #endregion */

    /* #region Div-8 */
    .eight{
        width: 375px;
        height: 251px;
        padding-left: 38px;
        padding-top: 23px;
        box-sizing: border-box;
    }

    .eight-top{
        flex-direction: column;
    }
    
    .media{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .img2{
        width: 53.59px;
        height: 31.69px;
        margin-bottom: 14px;
    }

    .social-insta{
        width: 15.38px;
        height: 15.38px;
        margin-right: 8.4px;
    }

    .social-f{
        width: 14.91px;
        height: 14.91px;
        margin-right: 9.8px;
    }

    .social-vk{
        width: 16.31px;
        height: 16.31px;
        margin-right: 11.65px;
    }

    .vp{
        width: 15.84px;
        height: 15.84px;
    }

    .bottom{
        width: 141px;
        height: 19px;            
        font-size: 10px;
        line-height: 101.38%;
        margin-top: 48px;       
        margin-bottom: 10px; 
    }

    .contacts{
        margin-left: 0px;
        margin-top: 47.66px;
    }

    .contact-info2{
        width: 125.35px;
        height: 18.64px;        
        font-weight: 400;
        font-size: 12px;
        line-height: 101.38%;
    }

    .contact-info{
        width: 107.17px;
        height: 18.64px;
        font-weight: 400;
        font-size: 12px;
        line-height: 101.38%;
    }

    .contactimg1{
        width: 12.58px;
        height: 12.58px;
        margin-right: 10.25px;
        margin-bottom: 11.65px;
        margin-top: 3px;
    }

    .contactimg2{
        width: 12.58px;
        height: 8.39px;
        margin-right: 10.25px;
        margin-top: 0px;
        padding-top: 0px;
    }
    
    .contact{
        margin-bottom: 1px;

    }
    /* #endregion */
}
/* #endregion */